*{
    margin: 0px;
    padding: 0px;
}

/*Seccion login*/
#loginSeccion {
    /*background-image: url('../img/login/login2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size: cover;*/
    
}


.fondoSeccion{
    /*background-color: rgba(0,0,0,.6);
    width: 100%;
    min-height: 100vh;*/
    background: #e9ecef;
}

/*contenido del fondo donde van las letras*/
.contFondoLet{
    padding-top: 10%;
    color: #333;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
}

.colorLogin{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 10px;
    
}

.contCard{
    padding-top: 38%;
}

footer{
    margin-top: 0px;
}


